body{
  font-family: 'Lucida Console';
}



.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-transform: left;
}

.bold {
  font-weight: bold;
}

.datos-cliente {
  font-size: 17px;
  /*border-bottom:1px solid black;*/
}

.celdas {
  padding: 3px 5px;
}

.mayus {
  text-transform: uppercase;
}

.enc-fechas{
  width: 100%;
  border: 1px solid red;
  padding; 0 350px 0 0;
}

table {
  width: 100%;
}

.documento_enc{
  font-family: Arial;
}

.rounded{
  border:0.1mm solid #220044;
  background-color: #f0f2ff;
  background-gradient: linear #c7cdde #f0f2ff 0 1 0 0.5;
  border-radius: 2mm;
  background-clip: border-box;
}
