body{
  font-family: 'Lucida Console';
}



.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-transform: left;
}

.bold {
  font-weight: bold;
}

.datos-cliente {
  font-size: 17px;
  /*border-bottom:1px solid black;*/
}

.celdas {
  padding: 3px 5px;
}

.mayus {
  text-transform: uppercase;
}

.enc-fechas{
  width: 100%;
  border: 1px solid red;
  padding; 0 350px 0 0;
}

table {
  width: 100%;
}

.documento_enc{
  font-family: Arial;
}

.datos-emp{
  font-size: 16px;
}

.datos_documento {
  font-family: Arial;
  border-collapse: collapse;
  border: 1px solid black;
  margin-top: 10px;
}

.detalle_documento{
  font-family: Arial;
  font-size:13px;
}
.sumatoria_documento{
  font-family: Arial;
  font-size:14px;
  font-weight: bold;
}
.detalle_documento > tr > td {
  margin: 100px auto;
  padding:255px 0;
}
